* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the content */
.content {
    background-color: #990000;
    padding: 10px;
    /*height: 80px; /* Should be removed. Only for demonstration */*/
    color=#ffffff
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}

.toy {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.toy td, .toy th {
    border: 1px solid #ddd;
    padding: 8px;
}

.toy tr:nth-child(even){background-color: #ffe6e6;}

.toy th {
    padding-top: 12px;
    padding-bottom: 12px;
    /*text-align: left;*/
    background-color: #cc0000;
    color: white;
}

.subtotal {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
